.reset {
  position: fixed;
  top: 15px;
  right: 15px;
}

.element {
  cursor: pointer;
}

.name:hover {
  text-decoration: underline;
}

.id {
  color: #ccc;
}

.control {
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}

.element:hover .control {
  opacity: 1;
  pointer-events: auto;
}
